/*
* Import font style
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #3AB59C;
    opacity: 100%;
    border-radius: 10px;
    padding: 8px;
}

.masuk {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    background: #198754;
    border-radius: 12px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    cursor: pointer;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.title-section {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    color: black;
    margin-bottom: 25px;
}

.tentang {
    margin-top: 100px;
}

.text-tentang {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #828282;
}

.produk {
    padding-top: 80px;
}

.item-produk {
    background: #e8f5f3;
    border: 5px solid #ffffff;
    box-shadow: 0px 20px 50px 5px rgba(0, 98, 78, 0.1);
    border-radius: 20px;
    padding: 40px;
}

.title-produk {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    margin-bottom: 15px;
}

.text-produk {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #828282;
}

.keunggulan {
    padding-top: 80px;
}

.keunggulan-cont {
    background: linear-gradient(345.64deg, #0e735e 7.99%, #3ab59c 59.93%);
    border: 5px solid #ffffff;
    box-shadow: 0px 20px 50px 5px rgba(0, 98, 78, 0.1);
    border-radius: 20px;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.itemUnggul {
    cursor: pointer;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemUnggul:hover {
    background-color: #3AB59C;
    opacity: 60%;
    border-radius: 10px;
}


.title-keunggulan {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    margin-bottom: 15px;
}

.text-keunggulan {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

.itemPaket {
    background-color: #E8F5F3;
    padding: 40px;
}

.title-paket {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #828282;
}

.price-paket {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    margin-bottom: 15px;
}

.item-isi {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-isi > span {
    margin-left: 10px;
}

.btn-paket {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    background: #198754;
    border-radius: 12px;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
}

.deskripsiFooter {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding-top: 25px;
}

.copyright {
    background: black;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}