.bodyLogin {
    background-image: url('../img/backLogin.jpeg');
}
.zoomable {
  width: 80px;
  height: 80px;
}
.zoomable:hover {
  transform: scale(2.5);
  transition: 0.3s ease;
}

.profil{
  padding-left: 10px;
  position: center;
}